BODY,TD,SELECT,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-size:8pt; font-family:¸¼Àº °íµñ; color:#333333;line-height:170%}

A:link    {color:#333333; text-decoration:none}
A:visited {color:#333333; text-decoration:none}
A:active  {color:#333333; text-decoration:none}
A:hover  {color:#333333; text-decoration:none}

BODY {scrollbar-face-color:FFFFFF;
           scrollbar-shadow-color:d7d7d7;
           scrollbar-highlight-color:d7d7d7;
           scrollbar-3dlight-color:FFFFFF;
           scrollbar-darkshadow-color:FFFFFF;
           scrollbar-base-color:FFFFFF;
           scrollbar-arrow-color:606060;
           scrollbar-track-color:FFFFFF;}







.textarea {border:solid 1;border-color:e3e3e3; background-color:white;}
.input{border:solid 1;border-color:e3e3e3;font-family:verdana;font-size:8pt;background-color:white;height:22px}
.submit {border:solid 1;border-color:e3e3e3; font-family:verdana;font-size:7pt;background-color:white;height:22px}
.en {font-family:verdana;font-size:7pt;}
.7 {font-family:tahoma;font-size:7pt;}