BODY,TD,SELECT,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-size:8pt; font-family:¸¼Àº °íµñ; color:#333333;line-height:170%}

A:link    {color:#333333; text-decoration:none}
A:visited {color:#333333; text-decoration:none}
A:active  {color:#333333; text-decoration:none}
A:hover  {color:#333333; text-decoration:none}

.input {border:1 solid #ededed; background-color:transparent;}
.ninput {border:0 solid #1b1b1b; background-color:transparent;}
.input2 {background-color:transparent; border-bottom:1 solid #999999; border-left-width:0; border-right-width:0; border-top-width:0;}
.search {background-color:transparent; border-bottom:1 solid #ededed; border-left-width:0; border-right-width:0; border-top-width:0;}
.button {border:0; background-color:transparent; height:21; font-family:verdana; font-size:7pt;}
.guestbutton {border:0; background-color:transparent; height:21; font-family:tahoma; font-size:6pt;}

.ver7    {font-family:verdana; font-size:7pt;}
.thm7  {font-family:tahoma; font-size:6pt;}
.color {color:ededed;}
.color2 {font-family:tahoma; font-size:7pt; color:ededed;}
.color3 {border:1 solid #ededed; background-color:transparent;}
.guest  {font-family:tahoma; font-size:6pt;}
.color2 {color:000000;}
.list  {font-family:tahoma; font-size:5pt;}
.list2  {font-family:tahoma; font-size:6pt;}

.line {background-color:#1b1b1b;}
.line2 {background-color:transparent; border:1 solid #1b1b1b; border-bottom-width:0; border-left-width:0; border-right-width:1; border-top-width:0;}

BODY {scrollbar-face-color:FFFFFF;
           scrollbar-shadow-color:d7d7d7;
           scrollbar-highlight-color:d7d7d7;
           scrollbar-3dlight-color:FFFFFF;
           scrollbar-darkshadow-color:FFFFFF;
           scrollbar-base-color:FFFFFF;
           scrollbar-arrow-color:606060;
           scrollbar-track-color:FFFFFF;}